section.section.clients
    .clients__wrapper.section__wrapper
      .clients__info
        h2.title.title__clients(id="clients") Our Beloved Client
        p.clients_p
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, debitis, ex quis aspernatur temporibus iusto hic, autem totam quidem ad accusantium aperiam blanditiis necessitatibus. Neque voluptate maiores ratione iusto molestiae.
      .clients__items
        .client__item.client__item--1
          h4 LOGO CLIENT 1
        .client__item.client__item--2
          h4 LOGO CLIENT 2
        .client__item.client__item--3
          h4 LOGO CLIENT 3
        .client__item.client__item--4
          h4 LOGO CLIENT 4
        .client__item.client__item--5
          h4 LOGO CLIENT 5
        .client__item.client__item--6
          h4 LOGO CLIENT 6
        .client__item.client__item--7
          h4 LOGO CLIENT 7
        .client__item.client__item--more
          h4 More Client
