footer
  include clients.pug
  .footer__section
    .footer__wrapper.section__wrapper
      .work__elem
        .work__info
          h2.title.work__title(id="team") Intersted to woek with our team?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus illum, nisi soluta velit sint recusandae asperiores deleniti iusto, placeat, assumenda cum suscipit ipsum numquam fugit eveniet reprehenderit alias officia.
        .work__btn
          button.btn.btn__open Let`s Talk
      .f__elem
        .footer__bottom
          .footer__info
            .footer__info--title
              include svg/logo__footer.pug
              h3 Afrianska
            .f__list
              ul
                li
                  strong A. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li
                  strong T. +62-812-7313-4321
                li
                  strong E. hello.afrian@gmail.com
          .footer__navigation
            .f__nav.f__nav--1
              h4 About US
              div
                p About
                p What We D
                p Project
                p How It Work With Us
            .f__nav
              h4 Follow US
              div
                p Instagram
                p Facebook
                p LinkedIn
                p Youtube
        span 2019 © Afrianska. All rights reserved.
  .footer__fon