header
  .header__navigation
    .logo
      include svg/logo__header.pug
      
    .menu__btn
      span
      span
      span
    nav.menu
      
      a.menu__item.menu__item--1(href="#help") Our help
      a.menu__item.menu__item--2(href="#clients") Our Beloved Client
      a.menu__item.menu__item--3(href="#team") Intersted to woek with our team?
  .header__section
    .header__wrapper.section__wrapper
      .header__info
        h1.header__title New Automation Tool for Your Home
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta iure error deserunt suscipit quas libero alias doloribus magni id cumque, laboriosam ipsum quod harum deleniti, aliquam accusamus modi autem et!
        button.btn See Our Project
      .header__img
        img(src="images/illustration.png" alt="")
    .header__gradient