main
  section.section.cards
    .cards__wrapper.section__wrapper
      .card__elem
        h2.title.title__cards(id="help") What we do to help our client grow in digital era,
        .card__item.card__item--1
          .card__img.card__img--1
            img(src="images/1.png" alt="")
          .card__info
            h4.card__topic Make Your business To Be Better Famous In Internet
            p.card__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a.arrow(href="#") Learn more 
              include svg/arrow.pug
      .card__elem.card__elem--2
        .card__item.card__item--2
          .card__img.card__img--2
            img(src="images/3.png" alt="")
          .card__info
            h4.card__topic Bring Technology To Your Comfortable Home
            p.card__p Lorem ipsum dolor sit amet consectetur adipisicing elit. At placeat, incidunt consectetur maiores quasi excepturi ut omnis similique aut culpa recusandae alias delectus distinctio tempore rerum vel, commodi, cumque magnam!
            a.arrow(href="#") Learn more 
              include svg/arrow.pug
        .card__item.card__item--3
          .card__img.card__img--3
            img(src="images/2.png" alt="")
          .card__info
            h4.card__topic Build Your Digital Product That Suitable For Your Need
            p.card__p Lorem ipsum dolor sit amet consectetur adipisicing elit. At placeat, incidunt consectetur maiores quasi excepturi ut omnis similique aut culpa recusandae alias delectus distinctio tempore rerum vel, commodi, cumque magnam!
            a.arrow(href="#") Learn more 
              include svg/arrow.pug 