@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("otf"),
    url("../fonts/Gilroy-Regular.eot") format("opentype"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("otf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Galien";
  src: url("../fonts/Galien Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --borderRadius: 1.25rem;
  --borderBigRadius: 25rem;
  --boxShadow: 0.625rem 2.5rem 6.25rem rgba(16, 112, 177, 0.2);
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorRed: #ff0000;
  --colorWhiteSmoke: #f5f5f5;
  --colorLapisLazuli: #316099;
  --colorYaleBlue: #1f3f68;
  --colorAzul: #356ead;
  --colorBlueGray: #5a98d0;
  --colorJordyBlue: #98c3e8;
  --colorBiceBlue: #1070b1;
  --fontSizeH1: 8rem;
  --fontSizeH2: 4.5rem;
  --fontSizeH3: 3.5rem;
  --fontSizeH4: 2.5rem;
  --fontSizeP: 2rem;
  --fontSizeA: 1.75rem;
  --fontWeightSemiBold: 600;
  --mainTextAling: center;
  /**/
  /*btn*/
  --btnWidth: 27.5rem;
  /**/
  --btnHeigth: 7rem;
  /**/
  --btnBackgroundColor: var(--colorBlueGray);
  --btnBorder: none;
  --btnRadius: var(--borderRadius);
  --btnColor: var(--colorWhite);
  --btnFontSize: var(--fontSizeP);
  /*input*/
  --inputWidth: 53.5rem;
  --inputHeigth: 9rem;
  --inputPadding: 2.5rem 5.125rem;
  --inputBorderRadius: var(--borderRadius);
  --inputBorderColor: var(--colorAzul);
  --inputFontSize: var(--fontSizeP);
  --inputFontColor: var(--colorYaleBlue);
  --inputFontWeigth: lighter;
  /**/
  --inputLabel: var(--fontSizeP);
  /*icon*/
  --iconColor: var(--colorAzul);
  --iconLogoColor: var(--colorLapisLazuli);
  --iconLogoWidth: 6rem;
  --iconLogoHeight: 6rem;
  --baseFontSize: 8px;
  /* 1rem */
  --baseFontFamily: "Gilroy", sans-serif;
  --baseLineHeight: 1.5;
  --baseFontWeight: normal;
  --footerWidth: 158.75rem;
  --footerHeight: 108.625rem;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--baseFontFamily);
  color: var(--colorYaleBlue);
}
main {
  position: relative;
}
h1 {
  font-size: var(--fontSizeH1);
  font-family: "Galien";
  font-weight: bold;
}
h2 {
  font-size: var(--fontSizeH2);
}
h3 {
  font-size: var(--fontSizeH3);
}
h4 {
  font-size: var(--fontSizeH4);
  font-weight: var(--fontWeightSemiBold);
}
p {
  font-size: var(--fontSizeP);
}
a {
  font-size: var(--fontWeightSemiBold);
  text-decoration: none;
  font-size: var(--fontSizeA);
}
.section__wrapper {
  max-width: 117.5rem;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  :root {
    --footerWidth: 95%;
  }
}
@media (max-width: 1250px) {
  .section__wrapper {
    max-width: 90%;
  }
}
@media (max-width: 1200px) {
  :root {
    --fontSizeH1: 6rem;
    --fontSizeH2: 3.75rem;
    --fontSizeH3: 3rem;
    --fontSizeH4: 2.25rem;
    --fontSizeP: 1.875rem;
    --fontSizeA: 1.75rem;
  }
}
@media (max-width: 1200px) and (max-width: 1050px) {
  .section__wrapper {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  :root {
    --borderBigRadius: 15rem;
    --fontSizeH1: 4.5rem;
    --fontSizeH2: 3.5rem;
    --fontSizeH3: 2.75rem;
    --fontSizeH4: 2rem;
    --fontSizeP: 1.75rem;
    --fontSizeA: 1.625rem;
  }
}
@media (max-width: 480px) {
  :root {
    --fontSizeH1: 3rem;
    --fontSizeH2: 2.25rem;
    --fontSizeH3: 2.25rem;
    --fontSizeH4: 1.75rem;
    --fontSizeP: 1.5rem;
    --fontSizeA: 1.25rem;
  }
}
.btn {
  width: 27.5rem;
  height: 7rem;
  background-color: var(--colorBlueGray);
  border-radius: var(--borderRadius);
  border: none;
  font-size: var(--fontSizeP);
  /*!!! var*/
  color: var(--colorWhite);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > p {
  padding: 0;
  margin: 0;
}
.btn:hover {
  background-color: var(--colorBiceBlue);
  color: var(--colorWhite);
}
.btn:active {
  background-color: var(--colorBiceBlue);
}
.btn:focus {
  outline: none;
}
.cards__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 22.5rem;
  margin-bottom: 26.5rem;
}
.card__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.arrow > svg {
  margin-left: 3.5rem;
}
.card__item {
  width: 47.5rem;
  /* height: 65.625rem; */
  padding: 6rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}
.card__item--1 {
  margin-top: 12.5rem;
  margin-left: 10rem;
}
.card__item--2 {
  margin-bottom: 12.5rem;
}
.card__p {
  padding: 2rem 0 4.5rem 0;
}
.title__cards {
  width: 44.75rem;
  color: var(--colorLapisLazuli);
}
.card__img > img {
  width: 100%;
  height: 100%;
}
.card__img--1 {
  margin-left: 26px;
  width: 182px;
  height: 132px;
}
.card__img--2 {
  margin-left: 30px;
  margin-top: -60px;
  width: 224px;
  height: 197px;
}
.card__img--3 {
  margin-left: 52px;
  width: 156px;
  height: 131px;
}
.card__info {
  margin-top: 7rem;
}
@media (max-width: 1100px) {
  .card__item--1 {
    margin-left: 5rem;
  }
}
@media (max-width: 950px) {
  .card__item--1 {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .cards__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card__elem,
  .title__cards {
    width: 100%;
  }
  .card__item {
    margin-bottom: 10rem;
  }
  .card__item--1 {
    margin-top: 10rem;
  }
}
@media (max-width: 650px) {
  .card__item {
    width: 45rem;
    padding: 5rem;
    margin-bottom: 5rem;
  }
  .card__info {
    margin-top: 5rem;
  }
  .card__p {
    padding: 2rem 0;
  }
}
@media (max-width: 500px) {
  .card__item {
    width: 40rem;
    padding: 5rem;
  }
  .card__info {
    margin-top: 4rem;
  }
  .card__p {
    padding: 2rem 0;
  }
}
@media (max-width: 450px) {
  .card__item {
    width: 35rem;
    padding: 4rem;
  }
}
.clients {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--colorBlueGray);
  border-top-left-radius: var(--borderBigRadius);
  color: var(--colorWhite);
  height: 193.625rem;
}
.clients__wrapper {
  display: flex;
  flex-direction: column;
}
.clients__info {
  display: flex;
  flex-direction: row;
  padding: 12rem 0 13.875rem 0;
}
.title__clients {
  min-width: 27.875rem;
  margin: 0;
}
.clients_p {
  padding: 0 10rem 0 12.125rem;
}
.clients__items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-bottom: 15.625rem;
}
.client__item:nth-child(-n + 4) {
  border-top: none;
}
.client__item:nth-last-child(-n + 4) {
  border-bottom: none;
}
.client__item:nth-child(1),
.client__item:nth-child(5) {
  border-left: none;
}
.client__item:nth-child(4),
.client__item:nth-child(8) {
  border-right: none;
}
.client__item {
  border: 1px solid var(--colorWhite);
  border-top: none;
  text-align: center;
  padding: 5.125rem 2.5rem;
  transition: background-color 0.3s;
}
.client__item > h4 {
  padding: 0;
  margin: 0;
}
.client__item--more {
  background-color: var(--colorYaleBlue), 20%;
  /* opacity: 0.2; */
  font-weight: bold;
}
@media (max-width: 1000px) {
  .clients_p {
    padding: 0 8rem;
  }
}
@media (max-width: 900px) {
  .clients__info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem 0;
  }
  .title__clients {
    margin-bottom: 2rem;
  }
  .clients_p {
    padding: 0 3rem;
  }
}
@media (max-width: 800px) {
  .title__clients {
    min-width: 27.875rem;
  }
}
@media (max-width: 650px) {
  .clients__info {
    padding: 5rem 0;
  }
  .clients__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    padding-bottom: 15.625rem;
  }
}
@media (max-width: 600px) {
  .clients__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    padding-bottom: 15.625rem;
  }
}
@media (max-width: 500px) {
  .clients {
    height: 180rem;
  }
  .client__item {
    padding: 4rem 2rem;
  }
}
footer {
  color: var(--colorWhite);
  position: relative;
  z-index: 100;
  margin-top: 111rem;
}
.footer__section {
  padding-top: 11.5rem;
  position: relative;
  height: 108.625rem;
  z-index: 200;
}
.footer__wrapper {
  margin: 0 auto;
}
.footer__fon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: var(--colorLapisLazuli);
  border-top-right-radius: var(--borderBigRadius);
  height: var(--footerHeight);
  width: var(--footerWidth);
}
.work__elem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 107.5rem;
}
.work__info {
  width: 57.5rem;
}
.work__title {
  width: 39.625rem;
  margin-bottom: 4rem;
}
.f__list ul {
  list-style-type: none;
  padding: 0;
}
.f__list ul > li {
  margin: 1.25rem 0;
  font-size: var(--fontSizeP);
}
.f__list ul > li > strong {
  margin-right: 1.25rem;
}
.footer__bottom {
  width: 92.125rem;
  display: flex;
  flex-direction: row;
}
.footer__navigation {
  display: flex;
  flex-direction: row;
}
.work__elem {
  /* margin-bottom: 11.875rem; */
  margin-bottom: 24rem;
}
.f__elem {
  padding: 0;
  margin: 0;
}
.footer__info {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
}
.footer__info--title {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* margin-bottom: 4.125em; */
}
.footer__info--title h3 {
  margin-left: 1.875rem;
}
.f__nav h4 {
  margin-bottom: 4rem;
}
.f__nav p {
  margin-bottom: 2rem;
}
.f__nav--1 {
  margin-right: 10rem;
}
.footer__bottom {
  margin-bottom: 8rem;
}
@media (max-width: 1300px) {
  :root {
    --footerWidth: 95%;
  }
}
@media (max-width: 1000px) {
  .work__elem {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .footer__bottom {
    width: 90%;
  }
  .work__info {
    width: 45rem;
  }
}
@media (max-width: 800px) {
  .work__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  .work__elem {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 11.875rem;
  }
  .f__nav--1 {
    margin-right: 5rem;
  }
  .footer__info {
    max-width: 30rem;
  }
}
@media (max-width: 600px) {
  .footer__bottom {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .footer__bottom span {
    text-align: center;
  }
  .footer__info {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  .footer__info--title {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* margin-bottom: 4.125em; */
  }
  .footer__navigation {
    justify-content: space-around;
  }
  .f__nav--1 {
    margin-right: 0;
  }
  .work__elem {
    flex-direction: column;
    justify-content: center;
  }
  .clients__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    padding-bottom: 15.625rem;
  }
}
.header__navigation {
  max-width: 150rem;
  height: 16.125rem;
  /*48px*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__section {
  position: relative;
  height: 80rem;
  z-index: 100;
}
.header__wrapper {
  position: relative;
  /* justify-content: space-between; */
  z-index: 100;
}
.logo__svg {
  width: var(--iconLogoWidth);
  height: var(--iconLogoHeight);
}
.header__info {
  display: flex;
  flex-direction: column;
  max-width: 63.75rem;
  z-index: 100;
}
.header__info > p {
  width: 53.125rem;
  padding: 4rem 0 9rem 0;
}
.header__img {
  position: absolute;
  top: -5rem;
  right: -23.75rem;
  width: 86rem;
  height: 76.57rem;
}
.header__img > img {
  width: 100%;
  height: 100%;
}
.header__gradient {
  position: absolute;
  width: 100%;
  height: 30.625rem;
  z-index: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    /* to bottom, */ var(--colorWhite),
    var(--colorJordyBlue) 100%,
    var(--colorJordyBlue) 72%
  );
  opacity: 0.2;
}
@media (max-width: 1320px) {
  .header__img {
    right: -20rem;
  }
}
@media (max-width: 1250px) {
  .header__img {
    right: 0;
  }
  .header__navigation {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .header__section {
    height: 70rem;
  }
  .header__info {
    max-width: 56.25rem;
  }
}
@media (max-width: 1150px) {
  .header__img {
    top: 0rem;
    width: 77.4rem;
    height: 68.9rem;
  }
}
@media (max-width: 1050px) {
  .header__img {
    top: 3rem;
  }
}
@media (max-width: 1000px) {
  .header__img {
    top: 8rem;
    width: 64.5rem;
    height: 57.43rem;
  }
}
@media (max-width: 850px) {
  /*потом еще немного уменьшить*/
  .header__section {
    height: 50rem;
  }
  .header__img {
    display: none;
  }
  .header__info {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .header__info p {
    width: 100%;
    padding: 4rem 0;
  }
  /* add style for btn*/
  /* add style for nav height*/
}
/* .menu {
  display: none;
} */
.menu__btn {
  position: relative;
  width: 4rem;
  height: 4rem;
  z-index: 1002;
  overflow: hidden;
  cursor: pointer;
}
.menu__btn > span {
  width: 24px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--iconColor);
  transition: all 0.5s;
}
.menu__btn > span:nth-of-type(2) {
  top: calc(50% - 4px);
}
.menu__btn > span:nth-of-type(3) {
  top: calc(50% + 4px);
}
.menu__btn.active > span:nth-of-type(1) {
  display: none;
}
.menu__btn.active > span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu__btn.active > span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 3rem;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--colorJordyBlue);
  transform: translateX(100%);
  transition: transform 0.5s;
  opacity: 0.9;
  z-index: 1000;
}
.menu > a {
  text-decoration: none;
  color: var(--colorYaleBlue);
  font-size: var(--fontSizeH3);
  word-break: break-word;
}
.menu.active {
  transform: translateX(0);
}
.modal__container {
  display: none;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3rem;
}
.modal__container.opened {
  display: block !important;
}
.open__modal {
  overflow: hidden;
}
.modal {
  max-width: 67.5rem;
  box-shadow: var(--boxShadow);
  padding: 7rem;
  background: var(--colorWhite);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.modal__form {
  width: 100%;
  height: 100%;
}
.input__box {
  display: flex;
  flex-direction: column;
  width: 53.5rem;
  font-size: var(--fontSizeP);
  margin-bottom: 4rem;
}
.input__box > input {
  height: 9rem;
  padding: 2.5rem 5.125rem;
  border-radius: var(--borderRadius);
  border: 1px var(--colorAzul) solid;
}
.input__box > input > .error {
  border: 1px solid var(--colorRed);
}
.input__box > textarea {
  height: 18rem;
  border-radius: var(--borderRadius);
  border: 1px var(--colorAzul) solid;
  padding: 2.5rem 5.125rem;
}
.input__box > textarea > .error {
  border: 1px solid var(--colorRed);
}
.input__box > .input__box label {
  margin-bottom: 1rem;
}
.input__box > .submit__btn {
  background-color: var(--colorBlueGray);
  box-shadow: var(--boxShadow);
  text-transform: uppercase;
  color: var(--colorWhite);
  margin-bottom: 0;
  margin-top: 9rem;
  border: none;
}
.btn__close {
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
}
.error__message {
  color: var(--colorRed);
  font-size: 12px;
  margin-top: 5px;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 22rem;
  height: 12rem;
  transform: translate(-50%, -50%);
  background-color: var(--colorWhiteSmoke);
  border-radius: var(--borderRadius);
  padding: 20px;
  box-shadow: var(--boxShadow);
  z-index: 1000;
}
.show__popup {
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/*# sourceMappingURL=main.css.map */
